@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Cerebri Sans Book";                      
    src: local("Cerebri Sans Book"),
      url("./fonts/Cerebri.Sans.Pro-www.Dfonts.org/Cerebri.Sans.Pro-www.Dfonts.org/Cerebri.Sans.Pro/CerebriSansPro-Regular.ttf") format("truetype");
    font-weight: normal;
  }
  body{
    font-family: "Cerebri Sans Book";
    /* background-color: #ebebe0; */
  }

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(105, 196, 219);
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(105, 196, 219); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(105, 196, 219); 
}

  